--
-- PostgreSQL database cluster dump
--

\restrict oUq6xY7sTsvsVRqefLiNGyW3J12rHHrlbMTw8ZwBbvpNeNV41nATii8tF22VYta

SET default_transaction_read_only = off;

SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;

--
-- Roles
--

CREATE ROLE sa;
ALTER ROLE sa WITH SUPERUSER INHERIT CREATEROLE CREATEDB LOGIN REPLICATION BYPASSRLS PASSWORD 'SCRAM-SHA-256$4096:j47mGpOQ7AsXq7hCk1e9yg==$Eb/3TipjZaIwu1b3f8NGvAybKgkZQ5VSlqiUVPb7xiI=:QTBZ/1sX8zQ+PbWewQ/SHIyQd5KYpVUgVm5MzpHiqR0=';

--
-- User Configurations
--








\unrestrict oUq6xY7sTsvsVRqefLiNGyW3J12rHHrlbMTw8ZwBbvpNeNV41nATii8tF22VYta

--
-- Databases
--

--
-- Database "template1" dump
--

\connect template1

--
-- PostgreSQL database dump
--

\restrict T9iVX467jNNRj9wgIMrYDLQtTqLrGoSjpFWeVODnSGLLXuLTqIs2alL5RwxUEbl

-- Dumped from database version 18.3 (Debian 18.3-1.pgdg13+1)
-- Dumped by pg_dump version 18.3 (Debian 18.3-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- PostgreSQL database dump complete
--

\unrestrict T9iVX467jNNRj9wgIMrYDLQtTqLrGoSjpFWeVODnSGLLXuLTqIs2alL5RwxUEbl

--
-- Database "agroriego" dump
--

--
-- PostgreSQL database dump
--

\restrict Eb5jl3fEZKjguXaaBb0lUL84hdpoDds59M9S5dn91133LmJgEgc2WwTTzTnsYYW

-- Dumped from database version 18.3 (Debian 18.3-1.pgdg13+1)
-- Dumped by pg_dump version 18.3 (Debian 18.3-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: agroriego; Type: DATABASE; Schema: -; Owner: sa
--

CREATE DATABASE agroriego WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE agroriego OWNER TO sa;

\unrestrict Eb5jl3fEZKjguXaaBb0lUL84hdpoDds59M9S5dn91133LmJgEgc2WwTTzTnsYYW
\connect agroriego
\restrict Eb5jl3fEZKjguXaaBb0lUL84hdpoDds59M9S5dn91133LmJgEgc2WwTTzTnsYYW

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alertas; Type: TABLE; Schema: public; Owner: sa
--

CREATE TABLE public.alertas (
    id bigint NOT NULL,
    id_areariego uuid,
    tipo_de_alerta character varying(100) NOT NULL,
    mensaje_de_alerta text NOT NULL,
    fecha timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.alertas OWNER TO sa;

--
-- Name: alertas_id_seq; Type: SEQUENCE; Schema: public; Owner: sa
--

CREATE SEQUENCE public.alertas_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.alertas_id_seq OWNER TO sa;

--
-- Name: alertas_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sa
--

ALTER SEQUENCE public.alertas_id_seq OWNED BY public.alertas.id;


--
-- Name: areas_riego; Type: TABLE; Schema: public; Owner: sa
--

CREATE TABLE public.areas_riego (
    id_areariego uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    id_predio uuid,
    tipo_cultivo character varying(100),
    latitud numeric(10,8),
    longitud numeric(11,8)
);


ALTER TABLE public.areas_riego OWNER TO sa;

--
-- Name: historial_cambios; Type: TABLE; Schema: public; Owner: sa
--

CREATE TABLE public.historial_cambios (
    id bigint NOT NULL,
    id_usuario uuid,
    fecha timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    ajuste_realizado text NOT NULL
);


ALTER TABLE public.historial_cambios OWNER TO sa;

--
-- Name: historial_cambios_id_seq; Type: SEQUENCE; Schema: public; Owner: sa
--

CREATE SEQUENCE public.historial_cambios_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.historial_cambios_id_seq OWNER TO sa;

--
-- Name: historial_cambios_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sa
--

ALTER SEQUENCE public.historial_cambios_id_seq OWNED BY public.historial_cambios.id;


--
-- Name: mediciones; Type: TABLE; Schema: public; Owner: sa
--

CREATE TABLE public.mediciones (
    id bigint NOT NULL,
    id_areariego uuid,
    fecha timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    humedad_suelo double precision,
    potencial_hidrico double precision,
    electroconductividad double precision,
    temperatura_suelo double precision,
    flujo_consumo_agua double precision,
    temperatura_ambiente double precision,
    humedad_relativa_ambiente double precision,
    velocidad_viento double precision,
    radiacion_solar double precision,
    evapotranspiracion double precision
);


ALTER TABLE public.mediciones OWNER TO sa;

--
-- Name: mediciones_id_seq; Type: SEQUENCE; Schema: public; Owner: sa
--

CREATE SEQUENCE public.mediciones_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.mediciones_id_seq OWNER TO sa;

--
-- Name: mediciones_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sa
--

ALTER SEQUENCE public.mediciones_id_seq OWNED BY public.mediciones.id;


--
-- Name: predios; Type: TABLE; Schema: public; Owner: sa
--

CREATE TABLE public.predios (
    id_predio uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    id_encargado uuid,
    coordenadas character varying(255)
);


ALTER TABLE public.predios OWNER TO sa;

--
-- Name: usuarios; Type: TABLE; Schema: public; Owner: sa
--

CREATE TABLE public.usuarios (
    id_usuario uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    nombre character varying(100) NOT NULL,
    apellido_p character varying(100) NOT NULL,
    apellido_m character varying(100),
    contrasena character varying(255) NOT NULL,
    rol character varying(50) NOT NULL,
    creado_por uuid,
    email character varying(255)
);


ALTER TABLE public.usuarios OWNER TO sa;

--
-- Name: usuarios_predios; Type: TABLE; Schema: public; Owner: sa
--

CREATE TABLE public.usuarios_predios (
    id_usuario uuid NOT NULL,
    id_predio uuid NOT NULL
);


ALTER TABLE public.usuarios_predios OWNER TO sa;

--
-- Name: alertas id; Type: DEFAULT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.alertas ALTER COLUMN id SET DEFAULT nextval('public.alertas_id_seq'::regclass);


--
-- Name: historial_cambios id; Type: DEFAULT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.historial_cambios ALTER COLUMN id SET DEFAULT nextval('public.historial_cambios_id_seq'::regclass);


--
-- Name: mediciones id; Type: DEFAULT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.mediciones ALTER COLUMN id SET DEFAULT nextval('public.mediciones_id_seq'::regclass);


--
-- Data for Name: alertas; Type: TABLE DATA; Schema: public; Owner: sa
--



--
-- Data for Name: areas_riego; Type: TABLE DATA; Schema: public; Owner: sa
--



--
-- Data for Name: historial_cambios; Type: TABLE DATA; Schema: public; Owner: sa
--

COPY public.historial_cambios (id, id_usuario, fecha, ajuste_realizado) FROM stdin;
1	b0eebc99-9c0b-4ef8-bb6d-6bb9bd380a22	2026-04-22 23:22:55.221965+00	Creaci├│n de nuevas ├íreas de riego para el cultivo de Nogal.
2	c0eebc99-9c0b-4ef8-bb6d-6bb9bd380a33	2026-04-22 23:22:55.221965+00	Apertura manual de v├ílvulas en el sector Manzano.
\.


--
-- Data for Name: mediciones; Type: TABLE DATA; Schema: public; Owner: sa
--



--
-- Data for Name: predios; Type: TABLE DATA; Schema: public; Owner: sa
--

COPY public.predios (id_predio, id_encargado, coordenadas) FROM stdin;
d0eebc99-9c0b-4ef8-bb6d-6bb9bd380a44	b0eebc99-9c0b-4ef8-bb6d-6bb9bd380a22	28.6320,-106.0691
e0eebc99-9c0b-4ef8-bb6d-6bb9bd380a55	b0eebc99-9c0b-4ef8-bb6d-6bb9bd380a22	28.6350,-106.0710
11111111-1111-1111-1111-111111111111	1ff0a904-e731-4fba-adc9-0882736ff821	28.6320,-106.0691
22222222-2222-2222-2222-222222222222	1ff0a904-e731-4fba-adc9-0882736ff821	28.6350,-106.0700
\.


--
-- Data for Name: usuarios; Type: TABLE DATA; Schema: public; Owner: sa
--



--
-- Data for Name: usuarios_predios; Type: TABLE DATA; Schema: public; Owner: sa
--

COPY public.usuarios_predios (id_usuario, id_predio) FROM stdin;
c0eebc99-9c0b-4ef8-bb6d-6bb9bd380a33	d0eebc99-9c0b-4ef8-bb6d-6bb9bd380a44
c0eebc99-9c0b-4ef8-bb6d-6bb9bd380a33	e0eebc99-9c0b-4ef8-bb6d-6bb9bd380a55
1ff0a904-e731-4fba-adc9-0882736ff821	11111111-1111-1111-1111-111111111111
1ff0a904-e731-4fba-adc9-0882736ff821	22222222-2222-2222-2222-222222222222
\.


--
-- Name: alertas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sa
--

SELECT pg_catalog.setval('public.alertas_id_seq', 8, true);


--
-- Name: historial_cambios_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sa
--

SELECT pg_catalog.setval('public.historial_cambios_id_seq', 2, true);


--
-- Name: mediciones_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sa
--

SELECT pg_catalog.setval('public.mediciones_id_seq', 1693, true);


--
-- Name: alertas alertas_pkey; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.alertas
    ADD CONSTRAINT alertas_pkey PRIMARY KEY (id);


--
-- Name: areas_riego areas_riego_pkey; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.areas_riego
    ADD CONSTRAINT areas_riego_pkey PRIMARY KEY (id_areariego);


--
-- Name: historial_cambios historial_cambios_pkey; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.historial_cambios
    ADD CONSTRAINT historial_cambios_pkey PRIMARY KEY (id);


--
-- Name: mediciones mediciones_pkey; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.mediciones
    ADD CONSTRAINT mediciones_pkey PRIMARY KEY (id);


--
-- Name: predios predios_pkey; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.predios
    ADD CONSTRAINT predios_pkey PRIMARY KEY (id_predio);


--
-- Name: usuarios usuarios_email_key; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_email_key UNIQUE (email);


--
-- Name: usuarios usuarios_pkey; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_pkey PRIMARY KEY (id_usuario);


--
-- Name: usuarios_predios usuarios_predios_pkey; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.usuarios_predios
    ADD CONSTRAINT usuarios_predios_pkey PRIMARY KEY (id_usuario, id_predio);


--
-- Name: idx_mediciones_area_fecha; Type: INDEX; Schema: public; Owner: sa
--

CREATE INDEX idx_mediciones_area_fecha ON public.mediciones USING btree (id_areariego, fecha DESC);


--
-- Name: alertas alertas_id_areariego_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.alertas
    ADD CONSTRAINT alertas_id_areariego_fkey FOREIGN KEY (id_areariego) REFERENCES public.areas_riego(id_areariego) ON DELETE CASCADE;


--
-- Name: areas_riego areas_riego_id_predio_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.areas_riego
    ADD CONSTRAINT areas_riego_id_predio_fkey FOREIGN KEY (id_predio) REFERENCES public.predios(id_predio) ON DELETE CASCADE;


--
-- Name: historial_cambios historial_cambios_id_usuario_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.historial_cambios
    ADD CONSTRAINT historial_cambios_id_usuario_fkey FOREIGN KEY (id_usuario) REFERENCES public.usuarios(id_usuario) ON DELETE CASCADE;


--
-- Name: mediciones mediciones_id_areariego_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.mediciones
    ADD CONSTRAINT mediciones_id_areariego_fkey FOREIGN KEY (id_areariego) REFERENCES public.areas_riego(id_areariego) ON DELETE CASCADE;


--
-- Name: predios predios_id_encargado_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.predios
    ADD CONSTRAINT predios_id_encargado_fkey FOREIGN KEY (id_encargado) REFERENCES public.usuarios(id_usuario) ON DELETE SET NULL;


--
-- Name: usuarios usuarios_creado_por_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_creado_por_fkey FOREIGN KEY (creado_por) REFERENCES public.usuarios(id_usuario) ON DELETE SET NULL;


--
-- Name: usuarios_predios usuarios_predios_id_predio_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.usuarios_predios
    ADD CONSTRAINT usuarios_predios_id_predio_fkey FOREIGN KEY (id_predio) REFERENCES public.predios(id_predio) ON DELETE CASCADE;


--
-- Name: usuarios_predios usuarios_predios_id_usuario_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.usuarios_predios
    ADD CONSTRAINT usuarios_predios_id_usuario_fkey FOREIGN KEY (id_usuario) REFERENCES public.usuarios(id_usuario) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict Eb5jl3fEZKjguXaaBb0lUL84hdpoDds59M9S5dn91133LmJgEgc2WwTTzTnsYYW

--
-- Database "postgres" dump
--

\connect postgres

--
-- PostgreSQL database dump
--

\restrict voCjPYpk3UTd0FnAgdI0zZtBATR5aYt0NTd5njHcrhjAL9fbzpLGDLMQRPrRTY4

-- Dumped from database version 18.3 (Debian 18.3-1.pgdg13+1)
-- Dumped by pg_dump version 18.3 (Debian 18.3-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- PostgreSQL database dump complete
--

\unrestrict voCjPYpk3UTd0FnAgdI0zZtBATR5aYt0NTd5njHcrhjAL9fbzpLGDLMQRPrRTY4

--
-- PostgreSQL database cluster dump complete
--

